// colors...

$color-primary: #FF1414;
$color-primary-dark: #E50000;
$color-primary-light: #FD3434;

$color-white: #fff;
$color-black: #000;

$color-default-background-color: #eee;

// Default font size...

$default-font-size: 1.6rem;


// grid settings...

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;